/* App.css*/

.App {
	text-align: center;
}

/* Styling universal selector */
* {
	/* margin-top: 50px; */
	margin: 0;
	margin-top: 10px;

	padding: 0;
	box-sizing: border-box;
}

/* Style body element */
body {
	min-height: 50vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: hsl(0, 0%, 100%);
	font-family: "Poppins", sans-serif;
}


/* Styling card container */
.card {
	/* min-height: 50vh; */
	height: fit-content;
	min-width: 33rem;
	max-width: 40rem;
	background: white(147, 208, 119, 1);
	margin: 0 1rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.head {
	position: relative;
	max-height: fit-content;
	min-width: 33rem;
	width: 100%;
	background: rgb(113, 87, 157);

	padding: 1rem;
}


/* Input box and button */
.add {
	padding: 5%;
	text-align: left;
	padding-left: 6%;
	/* margin: 10%; */
}

input {
	margin-right: 1%;
}

#title {
	width: 20%;
	font-size: larger;
}

#description {
	font-size: large;
	width: 60%;
}

button {
	border-radius: 5px;
	padding: 5px;
	font-size: large;
	color: #dbeefa;
	background-color:#1995AD;
}

/* style accordion */
.notes {
	margin: 5%;
	text-align: left;
}

/* style for accordion items */
.notes-item {
	display: flex;
	z-index: 100;
	padding: 2%;
	/* border-bottom: 1px solid #4e7b48; */
	font-size: larger;
	margin: 2%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* style for accordion items */
.accordion-item {
	border-bottom: 1px solid #ddd;
	font-size: larger;
}
